.App {
  font-family: sans-serif;
  text-align: center;
  z-index: 200;
}
.BackView {
  z-index: -100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.foreground {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
.fadeout {
  animation: fadeOut 0.5s;
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -o-animation: fadeOut 0.5s;
  -ms-animation: fadeOut 0.5s;
  opacity: 0;
}
#otime_icon {
  position: absolute;
  left: 2%;
  width: 20%;
}
#welcome_banner {
  text-align: right;
  margin-right: 2%;
  margin-bottom: -10px;
}
.red,
.green {
  transition: 3s ease-in;
  animation: fadeOut 7s;
  -webkit-animation: fadeOut 7s;
  -moz-animation: fadeOut 7s;
  -o-animation: fadeOut 7s;
  -ms-animation: fadeOut 7s;
}
.red {
  color: red;
}
.green {
  color: green;
}
.nuetral {
  color: transparent;
}
.loginLabel {
  text-align: center;
  width: 150px;
  height: 20px;
  margin-bottom: 2px;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 8px;
  border: 1px solid black;
  border-radius: 2px;
  -moz-box-shadow: inset 0 0 1px black;
  -webkit-box-shadow: inset 0 0 1px black;
  box-shadow: inset 0 0 1px black;
}
.loginFormContainer,
.btnContainer {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginSubmit {
  display: flex;
  background: white;
  padding: 5px;
  font-size: 10px;
  width: 80px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}
input:focus {
  font-size: 1rem;
}
.loginSubmit:hover {
  background: black;
  color: white;
  font-size: 1rem;
}
.forgReg {
  background: transparent;
  border: none;
  font-size: 12px;
  margin-bottom: 25px;
  text-align: center;
}
.menuItem {
  background: transparent;
  border: none;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 25px;
  text-align: right;
}
.forgReg:hover,
.menuItem:hover,
#name_label {
  color: grey;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
#name_label {
  text-align: right;
}
#sbSearch {
  color: purple;
  width: 100%;
  display: inline-block;
  font-size: 12px;
  text-align: center;
}
#leftSect,
#rightSect {
  width: 45%;
  display: inline-block;
  margin: 5px;
  font-size: 15px;
}
#leftSect {
  text-align: right;
}
#rightSect {
  text-align: left;
}
.column1,
.column2,
.column3,
.row,
.menuItem {
  box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column1 {
  float: left;
  width: 40%;
}
.menuItem {
  float: left;
  width: 17%;
}
.column2 {
  float: left;
  width: 60%;
  margin-top: -15px;
}
.column3 {
  float: left;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    margin-top: 5px;
    width: 35%;
  }
}
h3 {
  font: bold arial, sans-serif;
  position: relative;
  display: inline;
  border-radius: 5px;
  padding: 1px 5px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  border: 2px solid white;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  box-shadow: 0px 0px 4px black;
  font-size: 10px;
}
h4 {
  margin-bottom: -2px;
  margin-top: -1px;
  font-size: 12px;
  text-align: left;
}
h4.leftSect {
  text-align: right;
}
h4.rightSect {
  text-align: left;
}
.menuContainer {
  background: rgba(255, 255, 255, 0.5);
  padding: 2px 2px;
  margin: 10px 0px;
  border-radius: 12px;
  border: 2px solid rgba(189, 195, 199, 0.5);
  box-shadow: 0px 0px 6px BLACK;

  transition: all 0.5s linear;
}
.loginContainer {
  background: rgba(255, 255, 255, 0.5);
  padding: 2px 2px;
  margin: 10px 0px;
  border-radius: 12px;
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid rgba(189, 195, 199, 0.5);
  box-shadow: 0px 0px 6px BLACK;
  transition: all 0.5s linear;
}
.timelabel1,
.timelabel2,
.timelabel3,
.payLabel1,
.payLabel2,
.payLabel3 {
  display: inline-block;
  text-align: right;
  font-weight: 600;
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.timelabel1,
.timelabel2 {
  color: rgba(0.33, 0.33, 0.33, 0.6);
}
.timelabel3 {
  color: rgba(0.33, 0.33, 0.33, 1);
}
.payLabel1,
.payLabel2 {
  color: rgba(34, 139, 34, 0.6);
}
.payLabel3 {
  color: rgba(34, 139, 34, 1);
}
.leftHr,
.rightHr {
  margin-top: 4px;
  margin-bottom: 4px;
}
.card {
  border: 1px solid grey;
  box-shadow: 0px 0px 3px BLACK;
  transition: all 0.25s linear;
}
.card:hover {
}
.dayCardContent {
  margin-left: -2px;
}
.week1,
.week2,
.week3 {
  display: flex;
  margin-top: 15px;
}
.week1 {
  align-items: flex-end;
  align-content: flex-end;
}
.startPunch,
.endPunch,
.midPunch {
  font-size: 12px;
}
.startPunch {
  text-align: start;
  color: #405d3a;
  font-weight: 600;
}
hr.startPunch,
hr.midPunch {
  display: none;
}
hr.endPunch {
  border: 1px dashed green;
  margin-bottom: 1px;
}
.endPunch {
  text-align: end;
  color: #c80003;
  font-weight: 600;
}
.midPunch {
  text-align: center;
  color: #a8a8a8;
  font-weight: 600;
  font-style: italic;
}
.dayPay,
.moda {
  font-size: 9px;
  margin-left: -3px;
}

.dayHours {
  font-size: 9px;
  margin-left: -50px;
}
.dayPayBig {
  text-align: right;
  display: block;
  font-weight: 900;
  font-size: 12px;
  text-shadow: 0px 0px 8px white;
  margin-right: 4%;
}
.dayPayLil {
  text-align: right;
  margin-top: -7px;
  display: block;
  font-weight: 900;
  font-size: 9px;
  text-shadow: 0px 0px 8px white;
}
.dayPay,
.dayHours,
.moda,
.dayName {
  text-align: right;
}
h1 {
  font-size: 22px;
}
hr {
  margin: 0;
}
.moda {
  font-weight: 900;
  letter-spacing: 0.5px;
}
.dayName,
.dayHours {
  margin-left: -3px;
  margin-top: -5px;
}
.popup {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
}
.popup_inner {
  background-color: #f6f6f6;
  padding-top: 5px;
  padding-right: 4px;
  padding-left: 0px;
  padding-bottom: 2px;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 20%;
  bottom: 25%;
  margin: auto;
  border-radius: 0px;
  -moz-box-shadow: 0 0 12px black;
  -webkit-box-shadow: 0 0 12px black;
  box-shadow: 0 0 12px black;
}
.closeBtn {
  background-color: white;
  border: 1px solid red;
  color: red;
  border-radius: 50%;
  padding-right: 14px;
  padding-bottom: 18px;
  width: 10px;
  float: right;
  height: 5%;
  transition: all 1s linear;
  -moz-box-shadow: 0 0 1px black;
  -webkit-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
}
.closeBtn:hover {
  border: none;
  color: white;
  transition: all 1s linear;
  background-color: red;
}
#popBanner {
  height: 5%;
  margin-left: 7%;
  text-align: center;
  letter-spacing: 3px;
}
#popTimes {
  margin-top: 5px;
  height: 100px;
  width: 80%;
  background: white;
  margin-left: 7%;
  border-radius: 10px;
  padding: 10px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -moz-box-shadow: inset 0 0 1px black;
  -webkit-box-shadow: inset 0 0 1px black;
  box-shadow: inset 0 0 1px black;
}
.savePopBtn {
  background-color: green;
  border: none;
  -moz-box-shadow: 0 0 1px black;
  -webkit-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
  width: 90%;
  height: 20%;
  letter-spacing: 3px;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  font-weight: 900;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.25s linear;
}
.savePopBtn:hover {
  background-color: #405d3a;
}
.savePopOff {
  background-color: grey;
  border: none;
  -moz-box-shadow: 0 0 1px black;
  -webkit-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
  width: 90%;
  height: 20%;
  letter-spacing: 3px;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  font-weight: 900;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.25s linear;
}
.punchIn,
.break,
.punchOut,
.delBtnDis,
.delBtnAbl {
  width: 18%;
  margin: 2px;
  height: 10%;
  padding: 0px;
  border: NONE;
  color: white;
  padding: 3px;
  cursor: pointer;
  -moz-box-shadow: 0 0 1px black;
  -webkit-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
  transition: all 0.25s linear;
}
.punchIn {
  background: #a6c64c;
}
.punchIn:hover {
  background: #405d3a;
}
.punchOut {
  background: #ff955f;
}
.punchOut:hover {
  background: #c80003;
}
.break {
  background: #a9a9a9;
}
.break:hover {
  background: black;
}
.delBtnDis {
  background: rgba(255, 149, 95, 0.5);
}
.delBtnAbl {
  background: #ff955f;
}
ul {
  list-style-type: none;
}
li {
  width: 100%;
}
label.startPunch,
label.endPunch {
  padding: 6px 0px 6px 0px;
  position: relative;
}
label.startPunch {
  margin-right: 5px;
  margin-left: -45%;
  color: #405d3a;
  background: white;
}
label.endPunch {
  color: #c80003;
  background: white;
}
input.startPunch,
input.endPunch,
input.midPunch,
input.break {
  border-radius: 5px;
  text-align: center;
  padding: 6px;
  width: 30%;
  margin-bottom: 5px;
  letter-spacing: 3px;
}
input.startPunch {
  border: 1px solid #405d3a;
  color: #405d3a;
  text-shadow: 0px 0px 3px #a6c64c;
}
input.startPunch:focus {
  background: #405d3a;
  color: white;
}
input.startPunch:hover {
  -moz-box-shadow: inset 0 0 1px #a6c64c;
  -webkit-box-shadow: inset 0 0 1px #a6c64c;
  box-shadow: inset 0 0 1px #a6c64c;
}
input.endPunch {
  border: 1px solid #c80003;
  color: #c80003;
  margin-left: 40%;

  text-shadow: 0px 0px 3px #ff955f;
}
input.endPunch:focus {
  background: #c80003;
  color: white;
}
input.endPunch:hover {
  -moz-box-shadow: inset 0 0 1px #ff955f;
  -webkit-box-shadow: inset 0 0 1px #ff955f;
  box-shadow: inset 0 0 1px #ff955f;
}
input.midPunch {
  border: none;
  background: rgba(189, 195, 199, 0.5);
  pointer-events: none;
}
input.breakPunch {
}
.imgChannel {
  width: 5%;
  height: 100%;
  display: inline-block;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  color: white;
  font-size: 40px;
}
.jobPage {
  display: flex;
}
.jobsCont,
.jobForm {
  animation: fadeIn 1s;
  margin-left: 0;
}
.jobsCont {
  width: 40%;
  height: 400px;
  z-index: 150;
  padding: 10px;
}
.jobForm {
  margin-left: 3%;
  width: 60%;
  display: inline-block;
}
.jobInput {
}
.payrateBox {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-content: bottom;
  background-color: #f6f6f6;
  padding: 6px;
  width: -moz-fit-content;
  width: fit-content;
  color: green;
}
input.payrateBox {
  color: black;
  width: 70px;
  margin: 0px 3px;
  padding: 0px 5px;
}
.newJobBtn {
  border-radius: 5px;
  border: 2px solid white;
  margin-right: 70%;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 5px;
  font-weight: 600;
  width: 120px;
}
.newJobBtn:hover {
  font-size: 1rem;
}
.jobRow {
  width: 90%;
  background: white;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 10px;
}
.jobRow:hover,
.jobRow:focus {
  -moz-box-shadow: 0 0 12px black;
  -webkit-box-shadow: 0 0 12px black;
  box-shadow: 0 0 12px black;
}
.jobDesc {
  color: grey;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.editJobBtn {
  background: green;
  padding: 5px;
  border-radius: 5px;
}
@keyframes floating {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 5s;
  -webkit-animation: fadeOut 5s;
  -moz-animation: fadeOut 5s;
  -o-animation: fadeOut 5s;
  -ms-animation: fadeOut 5s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* The container */
.container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 128x;
  padding-left: 30px;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.timeBox {
  width: 50px;
  text-align: center;
}
.aOrp {
  text-align: center;
}
.aOrpCont {
  width: 100%;
  display: flex;
}
.dateCont {
  display: flex;
}
.dateLabel {
  text-align: left;
  margin-bottom: -3px;
}
